UNICNET_IMAGE_TAG=20260825-767ceff843ca
PG_IMAGE_TAG=18
KEYCLOAK_IMAGE_TAG=26.7.0

POSTGRES_DB=replace_with_current_database
POSTGRES_USER=replace_with_current_user
POSTGRES_PASSWORD=replace_with_current_password

KEYCLOAK_ADMIN=replace_with_current_admin
KEYCLOAK_ADMIN_PASSWORD=replace_with_current_admin_password
KEYCLOAK_PUBLIC_URL=http://replace-with-host-ip-or-dns:8095

VAULT_JWT_SIGNING_KEY=replace_with_at_least_32_random_characters
VAULT_JWT_ISSUER=UniComm PRO Software
VAULT_JWT_AUDIENCE=Service

